.NAV {
  display: flex;
  color: white;
  align-items: center;
}

.container-nav {
  width: 90%;
  margin: auto;
}

.container-buttons{
  display: flex;
}

nav {
  padding: 30px 0 30px 0;
}

.container-link {
a {
  font-size: 25px;
}
}

.logo {
  width: 20% !important;
}
.container-link {
  display: flex;
} 

.container-link {
  display: flex;
} 

@media screen and (max-width: 640px) {
  .NAV {
      display: none !important;
  }
}